$red: #EA1A4F;
$yellow: #FFD500;
$green: #28A879;
$info: #005FF8;
$warning: #FFD500;
$danger: #EA1A4F;
$primary: #005FF8;
$accent: #002CFB;

$secondary: #D8E4FB;
$text-secondary: #5E7793;
$dark-blue: #091336;
$dark: #122945;
$icon: #ADBFDF;
$gray-white: rgba(#fff, .6);
$border-radius: 4px !default;
$main-gray: #DEE6F5;
$content-width: 1400px;
$body-bg: #F1F4F9 !default;
$btn-padding-x: 24px !default;
$btn-padding-y: 12px !default;

/*CheckBox*/
$form-check-input-bg: white!default;
$form-check-input-border: 1px solid #ADBFDF!default;
$form-check-input-border-radius: 2px!default;

/*DropDown*/
$dropdown-border-width: 1 !default;
$dropdown-border-radius: 4px !default;
$dropdown-border-color: #EAF0FA !default;
$dropdown-item-padding-x: 20px !default;
$dropdown-item-padding-y: 6px !default;
$dropdown-link-hover-bg: rgba($accent, .13) !default;
$dropdown-bg: white;
//TODO переменные завести нормально
$theme-colors: (
        'red':  $red,
        'yellow': $yellow,
        'green': $green,
        'info': #005FF8,
        'warning': #FFD500,
        'danger': #EA1A4F,
        'primary': #005FF8,
        'secondary': #D8E4FB,
        'text-secondary': #5E7793,
        'dark-blue': #091336,
        'dark': #122945,
        'icon': #ADBFDF,
        'gray-white': rgba(#fff, .6),
        'main-gray': #DEE6F5,
        'seconadry-gray': #899CB1,
        'accent': #002CFB

);

@import '~bootstrap/scss/bootstrap';