.custom-badge {
  display: flex;
  align-items: center;
  gap: 8px;

  div {
    font-size: 14px;
    line-height: 100%;

    padding: 6px 8px;
    color: #122945;
    background: #D8E4FB;
    border-radius: 4px;
    border: 1px solid #ADBFDF;
  }


  &.danger {
    div {
      color: #EA1A4F;
      background: #FEE9EF;
      border: 1px solid #EA1A4F;
    }

    i {
      color: #EA1A4F;
    }
  }

  &.success {
    div {
      color: #00A775;
      background: #DBF8EF;
      border-color: #00A775;
    }

    i {
      color: #00A775;
    }
  }
}