header {
  margin-bottom: 20px;
  padding: 8px 16px;
  font-size: 15px;
  line-height: 20.72px;

  .search {
    padding: 12px 4px;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      width: 24px;
      height: 24px;
    }
  }
}

.block-statistics {
  display: flex;
  align-items: center;
  gap: 56px;
  font-size: 14px;
}

.user-menu {
  line-height: 21px;
}

.search {
  margin-left: auto;
  margin-right: 20px;

  @media (min-width: 1640px) {
    margin-right: 56px;
  }
}

.profiles {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (min-width: 1640px) {
    gap: 40px;
  }
}
